.page {
    height: 100%;
    color: $black;
};

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  background-color: $page-background;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  color: $black;
};

.page__main {
  height: 100%;
}