.login__wrapper {
    width: 50%;
    margin: 0 auto;
};

.login__heading {
    text-align: center;
}


.login__form {
    border: 1px solid grey;
};

input[type='text'] {
 -webkit-appearance: none;
      
   width: 100%; 
   text-align: center;
   outline: none;
   border-radius: 10px;
   padding: 5px;
};

input:valid {
    border-color: green;
  }
  
.input--invalid {
border-color: red;
}

.form__button{
    width: 100%;
}